html, body {
	margin:0;
	padding:0;
	width:100%;
	min-height:100vh;
}
.vh {
	height:100vh;
	background:url('image.jpg') no-repeat top left;
	background-size: 100% 100%;
}
.text-center {
	text-align:center;
}
.text-white {
	color:white;
}